# Checkpoint Objective
You have been given a task to gather data about movies from the Open Movie Database (OMDb) API and store it in a pandas dataframe. The data should include the movie title, year of release, director, and rating.

#### 1. Go to the OMDb API website (https://www.omdbapi.com/apikey.aspx) and obtain an API key.

In [1]:
api_key = "[ed5ba240]"

#### 2. Install the requests and pandas libraries if you have not already done so.

In [2]:
import pandas as pd
import requests
import json

#### 3. Use the requests library to send a request to the OMDb API to retrieve data about the top 10 movies.
Note: The API key needs to be included in the request URL.

In [3]:
request = requests.get('http://www.omdbapi.com/', params = {'apikey': 'ed5ba240', 's': 'movie', 'page': '1'})
request

#### 4. Parse the data using the json library to extract the title, year, director, and rating for each movie.

In [4]:
# Parse the data to JSON
data = request.json()

# Extract movie details from the JSON data
movies = []
for movie in data.get('Search', []):
    title = movie.get('Title', '')
    year = movie.get('Year', '')
    director = movie.get('Director', '')
    rating = movie.get('imdbRating', '')
    movies.append({'Title': title, 'Year': year, 'Director': director, 'Rating': rating})

#### 5. Store the extracted data in a pandas dataframe with appropriate column names.

In [5]:
df = pd.DataFrame(movies)

#### 6. Print the dataframe to verify that the data has been successfully stored.

In [6]:
df

                             Title  Year Director Rating
0                   The Lego Movie  2014
1               The Simpsons Movie  2007
2                      Scary Movie  2000
3  El Camino: A Breaking Bad Movie  2019
4                        Bee Movie  2007
5                    Scary Movie 2  2001
6            The Lego Batman Movie  2017
7      The Super Mario Bros. Movie  2023
8                    Scary Movie 3  2003
9                    Scary Movie 4  2006